.agendamento {
    max-width: 600px;
    margin: auto; /* Centraliza o formulário horizontalmente */
    padding: 30px;
    border: 1px solid #81b6fc; /* Borda azul clara */
    border-radius: 12px; /* Arredonda as bordas */
    background-color: #ffffff; /* Fundo branco */
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1); /* Sombra suave */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte amigável e moderna */
}

.titulo-agendamento {
    font-size: 28px; /* Tamanho do título maior */
    color: #333333; /* Cor escura para destaque */
    font-weight: bold;
    margin-bottom: 30px; /* Maior espaço abaixo do título */
    text-align: center; /* Centraliza o título */
}

.campo {
    margin-bottom: 10px; /* Aumenta o espaço entre os campos */
}

label {
    display: block;
    margin-bottom: 10px; /* Maior espaçamento entre o label e o campo */
    font-weight: 500;
    color: #333333;
    font-size: 16px;
}

.form-input, select, input[type="email"], input[type="text"], input[type="tel"], textarea {
    width: 100%; /* Largura total do campo */
    padding: 14px 16px; /* Aumenta o padding para dar mais conforto ao usuário */
    border-radius: 8px; /* Borda arredondada */
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #f7fafc; /* Fundo levemente cinza */
    color: #333;
    transition: all 0.3s ease; /* Transição suave para foco */
    box-sizing: border-box;
}

.consulta-btn {
    background-color: #003366;
    color: white;
    margin-top: 10px;
}

.form-input:focus, select:focus, input[type="email"]:focus, input[type="text"]:focus, input[type="tel"]:focus, textarea:focus {
    outline: none;
    border-color: #003366; /* Borda azul ao focar */
    box-shadow: 0 0 8px rgba(2, 52, 114, 0.2); /* Sombra para foco */
}

/* Destaque para erro no campo */
.form-input.error, select.error, input[type="email"].error, input[type="text"].error, input[type="tel"].error {
    border-color: #e53e3e; /* Cor de borda vermelha para campos com erro */
    background-color: white; /* Fundo vermelho suave */
}

.error {
    color: #e53e3e;
    font-size: 14px;
    margin-left: 5px;
}

/* Estilos de botão */
button.consulta-btn, button.voltar-btn {
    padding: 14px 20px; /* Aumenta o padding para os botões */
    font-size: 16px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button.agendar-btn {
    background-color: #003366;
    color: white;
    margin-right: 10px;
}


button.voltar-btn {
    background-color: #003366;
    color: white;
}


button:focus {
    outline: none;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px; /* Maior espaçamento entre os botões */
    margin-top: 30px; /* Aumenta o espaço acima dos botões */
}

strong {
    font-weight: 600;
    color: #444;
}

p {
    margin-top: 10px;
    font-size: 14px;
    color: #4d4c4c;
}
