/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body, #root {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.App-header {
  background-color: #003366; /* Cor azul para o cabeçalho */
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.logo {
  width: 20%; /* Define um tamanho fixo em pixels para a logo */
  height: auto; /* Mantém a proporção da imagem */
  position: absolute;
  left: 20px; /* Coloca a logo à esquerda */
}

.Titulo {
  text-align: center;
  width: 100%; /* Expande a largura */
}

.Titulo h2 {
  font-size: 2rem; /* Aumenta o tamanho do título */
  color: #f0f0f0; /* Cor do título (branco) */
  margin-bottom: 10px;
}

.Titulo h3 {
  font-size: 1.2rem;
  color: #f0f0f0; /* Cor de destaque para subtítulo */
}

.Titulo p{
  color: #f0f0f0;
  font-size: 1em;
  display: center
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 40px; /* Aumenta o padding para dar mais espaço ao redor do conteúdo */
}

