/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.App-header {
  background-color: #003366; /* Cor azul para o cabeçalho */
  padding: 8px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo {
  width: 15%; /* Define um tamanho fixo em pixels para a logo */
  height: auto; /* Mantém a proporção da imagem */
  left: 20px; /* Coloca a logo à esquerda */
}

.Titulo {
  text-align: center;
  width: 100%; /* Expande a largura */
  margin-left: -20%;
  margin-top: 2.8rem;
}

.Titulo h2 {
  font-size: 1.4rem; /* Aumenta o tamanho do título */
  color: #f0f0f0; /* Cor do título (branco) */
  margin: -8px;
  margin-top: -50px;
}

.Titulo h3 {
  font-size: 1.1rem;
  color: #f0f0f0; /* Cor de destaque para subtítulo */
  margin-top: 1px;
}

.Titulo p{
  color: #f0f0f0;
  font-size: 0.9em;

}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 40px; /* Aumenta o padding para dar mais espaço ao redor do conteúdo */
}

